.input-margin {
    margin-top: 100px;
}

.input-new-number {
    display: block;
    margin-top: 10px;
}

.demo {
    margin-top: 100px;
    margin-left: 40%;
}

img {
    width: 500px;
    height: 300px;
}